.list-content {
    padding-bottom: 50px;
    .list-title {
        text-align: center;
        font-size: rem(16px);
        margin-top: rem(14px);
        margin-bottom: rem(5px);
    }
    .title-line {
        display: inline-block;
        border-bottom: rem(1px) solid #949494;
        height: rem(1px);
        width: rem(30px);
        margin-left: rem(4px);
        margin-right: rem(4px);
        margin-bottom: rem(4px);
    }
}